// Navigation Styles here

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    .borderbottom();
    .title{
        width: 50%;
    }//end title
    .navContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.6rem;
        width: 50%;
        a{
            &:link, &:active, &:hover, &:visited{
                text-decoration: none;
                color: black;
            }//end pseudo code for a links
        }//end a links on the nav container
        @media @phone {
            width: 100%;
            justify-content: space-around;
        }
    }//end navContainer

    @media @phone {
        flex-direction: column;
    }//end @media @phone
}